<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.board.database.questionsMapper">

   <!-- 문의글 추가 -->
   <insert id="insertquestions"
      parameterType="com.smhrd.board.model.questionsDTO">
      INSERT INTO questions (que_title, que_content, que_img,
      created_at, mem_id)
      VALUES (#{que_title}, #{que_content}, #{que_img},
      #{created_at},
      #{mem_id})
   </insert>

   <!-- 문의글 조회 -->
   <select id="listquestions"
      resultType="com.smhrd.board.model.questionsDTO" parameterType="String">
      SELECT * FROM questions WHERE mem_id=#{mem_id}
   </select>
   
   <!-- 제목으로 문의글 조회 -->
   <select id="getQuestionByTitle"
        resultType="com.smhrd.board.model.questionsDTO" parameterType="String">
        SELECT * FROM questions WHERE que_title=#{que_title} AND created_at=#{created_at}
    </select>
    
</mapper>