@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");


@font-face {
  font-family: 'JalnanGothic'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff'); font-weight: normal; font-style: normal;}

/* Common Style */
body { overflow: hidden !important;   /* 슬라이드 애니메이션 효과 충돌 해결 */ transition: background-color 0.5s ease-in-out;}

/* Root*/
:root {
  --pear-can: #e6ffde;
  --pear-logo: #03403f;
  --apple-can: #f2675a;
  --apple-logo: #ec4458;
  --exotic-can: #9590f1;
  --black-color: #000000;
  --white-color: #ffffff;
  --exotic-logo: #6464ff;
  --pear-background: #c9e78a;
  --apple-background: #ffb2b2;
  --exotic-background: #c1bff2;
}


/* Typography */
main h1 {font-family: "Lexend"; font-weight: 700; line-height: normal !important; color: var(--white-color) !important; margin: 0 !important;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
main h1.cnt01 {font-size: 22em;}
main h1.cnt02 {font-size: 25em;}
main h1.cnt03 {font-size: 20em;}
main h2 {font-family: "Lexend"; font-size: 40px; line-height: normal; margin: 0; font-weight: 900;}


/* Cane Image and Wrapper Image */
#main_image {left: 50%; transform: translate(-50%, -50%); position: absolute; top: 53%; overflow: hidden; transition: all ease-in-out .5s ease;}
#main_image img{display: none;}
#main_image img.active{display: block;}
#main_image.mainImg01 {top: 55%; max-width: 700px;}
#main_image.mainImg02 {max-width: 850px; left: 46%;}
#main_image.mainImg03 {max-width: 680px;}
#main_image img, .fruit_image img {width: 100%; height: auto;}


/* bubble_wrap */
#bubble_wrap {max-width: 480px; width: 30%; position: absolute; top: 12%; right: 18%;}
#bubble_wrap.bubble02 {top: 15%; right: 20%;}
#bubble_wrap.bubble03 {top: 12%; right: 20%;}
#bubble_wrap .txt_box {width: 100%; top: 50%; text-align: center; padding: 30px; color: #3e3e3e; left: 50%; transform: translate(-50%, -50%); position: absolute;}
#bubble_wrap .txt_box h3 {font-family: 'JalnanGothic'; font-size: 36px; font-weight: 800; margin-bottom: 30px; color: var(--pear-logo);}
#bubble_wrap .txt_box a {font-family: 'JalnanGothic'; font-size: 20px; padding: 5px 10px;}


/* Fruits Images */
.fruit_image {opacity: 1; position: absolute; max-width: 360px;}
.image_one {max-width: 420px; bottom: 8%;}
.image_two {top: 23%; left: 25%;}
.image_three {top: 23%; right: 25%;}
.image_four {bottom: 8%; right: 0;}


/* After */
.fruit_image::after {content: ""; position: absolute; background: linear-gradient(90deg, #000 3.66%, rgba(0, 0, 0, 0) 92.35%); opacity: .43; filter: blur(7.5px);
  transform: rotate(-6.941deg); right: 0; width: 60%;  height: 30px;}
.image_four::after, .image_one::after {bottom: -50px;}
.image_two::after {bottom: -200px; height: 22px;}
.image_three::after {bottom: -280px; width: 103px;}


/* sectoin1 */
#section1 .image_two {max-width: 260px; top: 12%; left: 20%; transform: rotate(-30deg);}
#section1 .image_four {bottom: 10%; right: 10%; max-width: 260px; transform: rotate(10deg);}
#section1 .image_two::after {bottom: -40%; left: -35%; transform: rotate(30deg);}


/* section2 */
#section2 .image_one {max-width: 420px; bottom: 8%; left: 3%;}
#section2 .image_two {top: 12%; left: 12%; transform: rotate(-40deg);}
#section2 .image_four {max-width: 300px; bottom: 10%; right: 10%;}
#section2 .image_one::after {width: 70%; left: 15%;}
#section2 .image_two::after {bottom: -30%; left: -10%; transform: rotate(40deg);}


/* section3 */
#section3 .image_one {max-width: 400px; left: 2%;}
#section3 .image_two {top: 21%; left: 25%;}
#section3 .image_four {bottom: 15%; right: 10%;}
#section3 .image_two::after {bottom: -50%;}


/*Section  */
.section_container_main {width: 100vw; overflow: hidden; position: relative; z-index: -1;}
.section_container {width: 300vw; display: flex; position: relative; left: 0;
  /* 슬라이드 애니메이션 효과 충돌 해결 */transition: left 0.5s ease-in-out;   /* transition: all ease-in-out 0.5s; */align-items: center;}
.section {min-width: 100vw; height: 100vh; position: relative; overflow: hidden; z-index: -1; background: var(--pear-background);}
.section:nth-child(2) {background-color: var(--apple-background);}
.section:nth-child(3) {background-color: var(--exotic-background);}

/* Add this to your CSS */
.wave {animation: wave-apple-effect 4s linear infinite; animation-direction: normal;}
@keyframes wave-pear-effect {
  0% {
    box-shadow: 0 0 0 0px var(--pear-background),
      0 0 0 0px var(--pear-background);
  }

  40% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
      0 0 0 0px var(--pear-background);
  }

  80% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
  }
}

@keyframes wave-apple-effect {
  0% {
    box-shadow: 0 0 0 0px var(--apple-background),
      0 0 0 0px var(--apple-background);
  }

  40% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
      0 0 0 0px var(--apple-background);
  }

  80% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
  }
}

@keyframes wave-exotic-effect {
  0% {
    box-shadow: 0 0 0 0px var(--exotic-background),
      0 0 0 0px var(--exotic-background);
  }

  40% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
      0 0 0 0px var(--exotic-background);
  }

  80% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
  }
}


/* Buttons */
#scroll {background-color: rgba(255, 255, 255, 0.578); position: fixed; top: 50%; right: 30px; z-index: 99; transform: translateY(-50%);
  transition: all ease-in-out 0.3s; color: var(--apple-logo); border-radius: 2px; padding: 10px;}


/*.......... Responsive.............. */
@media screen and (max-width:1960px) {
  #main_image {top: 52%; left: 50%; transform: translate(-50%, -50%);}
  #main_image.mainImg01 {top: 60%; width: 28%;}
  #main_image.mainImg02 {width: 36%;}
  #main_image.mainImg03 {width: 25%;}


  /* bubble_wrap */
  #bubble_wrap {width: 22%; top: 12%; right: 18%;}
  #bubble_wrap.bubble01 {top: 15%;}
  #bubble_wrap.bubble02 {top: 18%;}
  #bubble_wrap.bubble03 {top: 18%;}
  #bubble_wrap .txt_box {padding: 20px;}
  #bubble_wrap .txt_box h3 {/* font-size: 2.2em; */ margin-bottom: 20px;}
  #bubble_wrap .txt_box a {font-size: 1.25em; padding: 5px 5px}


  /* sectoin1 */
  #section1 .image_one {width: 18%; bottom: 7%;}
  #section1 .image_two {width: 11%;}
  #section1 .image_four {width: 12%;}
  #section1 .image_two::after {bottom: -35%; left: -35%; transform: rotate(30deg);}


  /* section2 */
  #section2 .image_one {width: 18%; bottom: 7%; left: 2%;}
  #section2 .image_two { width: 15%; top: 11%;}
  #section2 .image_four {width: 12%; bottom: 8%; right: 15%;}
  #section2 .image_one::after {width: 70%; left: 15%;}
  #section2 .image_two::after {left: -25%; transform: rotate(40deg);}


  /* section3 */
  #section3 .image_one {width: 16%; left: 2%;}
  #section3 .image_two {width: 11%; top: 20%; left: 20%;}
  #section3 .image_four {width: 15%; bottom: 15%; right: 10%;}


  /* After */
  .image_four::after, .image_one::after {/* bottom: -36%; */ right: 20%;}
  .image_two::after {bottom: -36%;}

}