<web-app>
   <display-name>Archetype Created Web Application</display-name>
   <filter>
      <filter-name>MemberAutoLoginFilter</filter-name>
      <filter-class>com.smhrd.member.controller.MemberAutoLoginFilter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>MemberAutoLoginFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   <servlet>
      <servlet-name>MemberJoinCon</servlet-name>
      <display-name>MemberJoinCon</display-name>
      <description></description>
      <servlet-class>com.smhrd.member.controller.MemberJoinCon</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MemberLoginCon</servlet-name>
      <display-name>MemberLoginCon</display-name>
      <description></description>
      <servlet-class>com.smhrd.member.controller.MemberLoginCon</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MemberUpdateCon</servlet-name>
      <display-name>MemberUpdateCon</display-name>
      <description></description>
      <servlet-class>com.smhrd.member.controller.MemberUpdateCon</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MemberDeleteCon</servlet-name>
      <display-name>MemberDeleteCon</display-name>
      <description></description>
      <servlet-class>com.smhrd.member.controller.MemberDeleteCon</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MemberLogoutCon</servlet-name>
      <display-name>MemberLogoutCon</display-name>
      <description></description>
      <servlet-class>com.smhrd.member.controller.MemberLogoutCon</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MemberCheckCon</servlet-name>
      <display-name>MemberCheckCon</display-name>
      <description></description>
      <servlet-class>com.smhrd.member.controller.MemberCheckCon</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MemberAutoLogin</servlet-name>
      <display-name>MemberAutoLogin</display-name>
      <description></description>
      <servlet-class>com.smhrd.member.controller.MemberAutoLogin</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MemberEmailCheckCon</servlet-name>
      <display-name>MemberEmailCheckCon</display-name>
      <description></description>
      <servlet-class>com.smhrd.member.controller.MemberEmailCheckCon</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MemberEditCon</servlet-name>
      <display-name>MemberEditCon</display-name>
      <description></description>
      <servlet-class>com.smhrd.member.controller.MemberEditCon</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MemberIdFind</servlet-name>
      <display-name>MemberIdFind</display-name>
      <description></description>
      <servlet-class>com.smhrd.member.controller.MemberIdFind</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MemberPwFind</servlet-name>
      <display-name>MemberPwFind</display-name>
      <description></description>
      <servlet-class>com.smhrd.member.controller.MemberPwFind</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>IngredientAddCon</servlet-name>
      <display-name>IngredientAddCon</display-name>
      <description></description>
      <servlet-class>com.smhrd.ingredient.controller.IngredientAddCon</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>IngredientSearchCon</servlet-name>
      <display-name>IngredientSearchCon</display-name>
      <description></description>
      <servlet-class>com.smhrd.ingredient.controller.IngredientSearchCon</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MemberIdFindCon</servlet-name>
      <display-name>MemberIdFindCon</display-name>
      <description></description>
      <servlet-class>com.smhrd.member.controller.MemberIdFindCon</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MemberPwFindCon</servlet-name>
      <display-name>MemberPwFindCon</display-name>
      <description></description>
      <servlet-class>com.smhrd.member.controller.MemberPwFindCon</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>IngredientConsumeCon</servlet-name>
      <display-name>IngredientConsumeCon</display-name>
      <description></description>
      <servlet-class>com.smhrd.ingredient.controller.IngredientConsumeCon</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>MemberEditLoginCon</servlet-name>
   	<display-name>MemberEditLoginCon</display-name>
   	<description></description>
   	<servlet-class>com.smhrd.member.controller.MemberEditLoginCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>IngredientAlarmCon</display-name>
   	<servlet-name>IngredientAlarmCon</servlet-name>
   	<servlet-class>com.smhrd.ingredient.controller.IngredientAlarmCon</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>MemberJoinCon</servlet-name>
      <url-pattern>/MemberJoinCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MemberLoginCon</servlet-name>
      <url-pattern>/MemberLoginCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MemberUpdateCon</servlet-name>
      <url-pattern>/MemberUpdateCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MemberDeleteCon</servlet-name>
      <url-pattern>/MemberDeleteCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MemberLogoutCon</servlet-name>
      <url-pattern>/MemberLogoutCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MemberCheckCon</servlet-name>
      <url-pattern>/MemberCheckCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MemberAutoLogin</servlet-name>
      <url-pattern>/MemberAutoLogin</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MemberEmailCheckCon</servlet-name>
      <url-pattern>/MemberEmailCheckCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MemberEditCon</servlet-name>
      <url-pattern>/MemberEditCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MemberIdFind</servlet-name>
      <url-pattern>/MemberIdFind</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MemberPwFind</servlet-name>
      <url-pattern>/MemberPwFind</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>IngredientAddCon</servlet-name>
      <url-pattern>/IngredientAddCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>IngredientSearchCon</servlet-name>
      <url-pattern>/my_fridge.jsp</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MemberIdFindCon</servlet-name>
      <url-pattern>/MemberIdFindCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MemberPwFindCon</servlet-name>
      <url-pattern>/MemberPwFindCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>IngredientConsumeCon</servlet-name>
      <url-pattern>/IngredientConsumeCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>MemberEditLoginCon</servlet-name>
   	<url-pattern>/MemberEditLoginCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>IngredientAlarmCon</servlet-name>
   	<url-pattern>/IngredientAlarmCon</url-pattern>
   </servlet-mapping>
</web-app>